# Editor configuration, see https://editorconfig.org
root = true

[*]
end_of_line = lf
charset = utf-8
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cpp,h}]
cpp_new_line_before_catch = false
cpp_new_line_before_else = false
cpp_indent_namespace_contents = false
